<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

#########################################
# Set up Cache
#########################################
<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "access plus 1 month"
## Fonts ##
ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
ExpiresByType application/x-font-ttf "access plus 1 month"
ExpiresByType application/x-font-opentype "access plus 1 month"
ExpiresByType application/x-font-woff "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
## Images ##
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType image/jpg "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"
ExpiresByType image/gif "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
## CSS ##
ExpiresByType text/css "access plus 1 week"
## JavaScripts ##
ExpiresByType text/x-javascript "access plus 1 week"
ExpiresByType text/javascript "access plus 2 weeks"
## Flash ##
ExpiresByType application/x-javascript "access plus 2 weeks"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

<IfModule mod_mime.c>
    AddType application/vnd.ms-fontobject   eot
    AddType application/x-font-ttf          ttf ttc
    AddType font/opentype                   otf
    AddType application/x-font-woff         woff woff2
    AddType image/svg+xml                   svg svgz
    AddEncoding gzip                        svgz
</Ifmodule>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject application/x-font-ttf font/opentype application/x-font-woff
</IfModule>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# Force HTTP to HTTPS
<ifModule mod_ssl.c_DISABLED>
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</ifModule>

# php.ini values
php_value memory_limit 30M
php_value post_max_size 100M
php_value upload_max_filesize 50M
